[submodule ".registry"]
	path = .registry
	url = https://github.com/teodorojmartinez/teodorojmartinez.r-universe.dev
	branch = HEAD
[submodule "rdst"]
	path = rdst
	url = https://github.com/TeodoroJMartinez/rdst
